<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="JavaFx-Clock" fileName="../logs/application.log"
                     filePattern="../classsix-logs/application-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %c{36} %l: %msg %n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy min="1" max="4" />
        </RollingFile>        
    </appenders>
    <loggers>
        <root level="info" additivity="false">
            <appender-ref ref="Console" />
        </root>        
        <logger name="ca.vasigorc.clock" 
                level="warn" additivity="false">
            <appender-ref ref="JavaFx-Clock" />
            <appender-ref ref="Console"/>           
        </logger>        
    </loggers>
</configuration>